.container {
  width: 700px;
  margin-top: 60px;
  background-color: #e7eaf69c;
  border: 1px solid #a2a8d3;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
}

/* SEARCH AND SELECT CITY */

.search-city-form {
  padding: 30px 20px;
}

.enter-city {
  display: inline;
  width: 58.33333333%;
  border: 1px solid #a2a8d3;
}

.btn {
  background-color: #abb2e7;
  transition: all 200ms ease-in-out;
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
}

.search-button {
  width: 13%;
  margin: 0 15px;
}

.search-button img {
  width: 45%;
}

.current-position-button {
  width: 24%;
  font-weight: 500;
  color: #233142;
}

.search-button:hover,
.current-position-button:hover {
  background-color: #b2baf8;
}
/* END SEARCH AND SELECT CITY */

/* CURRENT WEATHER */

.overview-weather {
  color: #233142;
  margin-top: 8px;
}

.overview-weather div img {
  width: 80%;
  display: block;
  margin-left: 20px;
}

.current-weather {
  padding-left: 15px;
}

.units {
  position: relative;
  bottom: 18px;
  font-size: 18px;
}

.current-weather,
.location {
  padding-top: 11px;
}

.current-temperature,
.current-city {
  font-size: 45px;
  line-height: 1;
  margin-bottom: 10px;
}

.weather-type {
  font-size: 18px;
}

.weather-type::first-letter {
  text-transform: capitalize;
}

.more-info-weather {
  font-size: 13.5px;
  padding-top: 14px;
}

.location {
  text-align: right;
  padding-right: 25px;
}

.current-date-time {
  font-size: 17px;
}

/* END CURRENT WEATHER */

/* FUTURE WEATHER */

.future-forecast {
  margin-top: 45px;
  margin-bottom: 30px;
  color: #233142;
}

.single-future-forecast {
  text-align: center;
}

.what-day {
  margin-bottom: 8px;
  font-size: 17px;
}

.single-future-forecast img {
  width: 65%;
  display: block;
  margin: 0 auto;
}

.what-temperature {
  margin-top: 8px;
  font-size: 15px;
}

/* END FUTURE WEATHER */

.attribution {
  text-align: right;
  font-size: 8px;
}

footer {
  font-family: monospace;
  font-size: 11px;
  text-align: center;
  margin-top: 5px;
}

.attribution a,
footer a {
  text-decoration: none;
  color: #233142;
}

footer a:hover {
  color: #111820;
  text-decoration: underline;
}

@media (max-width: 576px) {
  .container {
    width: 90%;
    margin: 30px auto 0;
  }

  .search-city-form {
    padding-bottom: 17px;
  }

  .enter-city {
    width: 100%;
  }

  .search-button {
    width: 20%;
    height: 35px;
    margin-left: 3px;
    padding: 0;
  }

  .search-button img {
    width: 25%;
  }

  .current-position-button {
    width: 50%;
    font-size: 13px;
    padding: 0;
  }

  .search-button,
  .current-position-button {
    margin-top: 9px;
  }

  .overview-weather div img {
    width: 90%;
  }

  .current-weather {
    padding-right: 0;
  }

  .current-weather,
  .more-info-weather,
  .location {
    padding-top: 0;
  }

  .current-temperature,
  .current-city {
    font-size: 23px;
  }

  .units {
    position: relative;
    bottom: 10px;
    font-size: 9px;
  }

  .weather-type,
  .current-date-time {
    font-size: 11.5px;
  }

  .more-info-weather {
    font-size: 10px;
    padding-right: 0;
  }

  .future-forecast {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .what-day,
  .what-temperature {
    font-size: 11px;
  }

  .attribution {
    font-size: 5px;
  }

  footer {
    font-size: 9px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .search-city-form {
    padding-bottom: 15px;
  }

  .enter-city {
    width: 100%;
  }

  .search-button {
    width: 31%;
    height: 35px;
    padding: 0;
  }

  .search-button img {
    width: 25px;
  }

  .current-position-button {
    width: 60%;
    padding: 0;
  }

  .search-button,
  .current-position-button {
    margin-top: 10px;
  }

  .current-temperature,
  .current-city {
    font-size: 35px;
  }

  .units {
    position: relative;
    bottom: 14px;
    font-size: 15px;
  }

  .weather-type,
  .current-date-time {
    font-size: 16px;
  }

  .more-info-weather {
    font-size: 11px;
  }

  .future-forecast {
    margin-top: 35px;
    margin-bottom: 20px;
  }

  .what-day,
  .what-temperature {
    font-size: 14px;
  }

  .attribution {
    font-size: 6px;
  }
}
