.container {
  width: 750px;
  margin-top: 60px;
  background-color: #e7eaf69c;
  border: 1px solid #a2a8d3;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
}

/* SEARCH AND SELECT CITY */

.select-city {
  padding: 30px 20px;
}

.enter-city {
  display: inline;
  width: 58.33333333%;
  border: 1px solid #a2a8d3;
}

.btn {
  background-color: #abb2e7;
  transition: all 200ms ease-in-out;
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
}

.search-button {
  width: 13%;
  margin: 0 15px;
}

.search-button img {
  width: 45%;
}

.current-position-button {
  width: 24%;
  font-weight: 500;
  color: #233142;
}

.search-button:hover,
.current-position-button:hover {
  background-color: #b2baf8;
}
/* END SEARCH AND SELECT CITY */

/* CURRENT WEATHER */

.current-weather {
  color: #233142;
  margin-top: 8px;
}

.current-weather div img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.weather-now {
  padding-left: 10px;
}

.units {
  position: relative;
  bottom: 22px;
  font-size: 18px;
}

.weather-now,
.more-info-weather,
.location {
  padding-top: 15px;
}

.temperature-now,
.current-city {
  font-size: 50px;
  line-height: 40px;
}

.weather-type-now {
  font-size: 20px;
}

.more-info-weather {
  font-size: 13.5px;
  padding-left: 25px;
}

.location {
  text-align: right;
  padding-right: 25px;
}

.current-date-time {
  font-size: 18px;
  line-height: 55px;
}

/* END CURRENT WEATHER */

/* FUTURE WEATHER */

.future-forecast {
  margin-top: 40px;
  margin-bottom: 30px;
  color: #233142;
}

.single-future-forecast {
  text-align: center;
}

.what-day {
  margin-bottom: 8px;
  font-size: 17px;
}

.single-future-forecast img {
  width: 65%;
  display: block;
  margin: 0 auto;
}

.what-temperature {
  margin-top: 8px;
  font-size: 15px;
}

/* END FUTURE WEATHER */

.attribution {
  text-align: right;
  font-size: 8px;
}

footer {
  font-family: monospace;
  font-size: 11px;
  text-align: center;
  margin-top: 5px;
}

.attribution a,
footer a {
  text-decoration: none;
  color: #233142;
}

footer a:hover {
  color: #111820;
  text-decoration: underline;
}
